[submodule "modules/core"]
	path = modules/core
	url = https://github.com/spring1944/submodule-core.git
[submodule "modules/customCommands/data"]
	path = modules/customCommands/data
	url = https://github.com/spring1944/submodule-customCommands.git
[submodule "modules/notAchili/data"]
	path = modules/notAchili/data
	url = https://github.com/spring1944/submodule-notAchili.git
[submodule "modules/strongpoints/data"]
	path = modules/strongpoints/data
	url = https://github.com/spring1944/submodule-strongpoints.git
[submodule "modules/goals/data"]
	path = modules/goals/data
	url = https://github.com/spring1944/submodule-goals.git
